<!-- 📂User Detail.cshtm-->
<!-- Detail.cshtml in /Views/User folder-->


<h1>@Model.UserName</h1>
<p>Customer ID   : @Model.UserID</p>
<p>Customer Name : @Model.UserName</p>
<p>Customer Address : @Model.UserAddress</p>
<p>Customer Address : @Model.UserPhone</p>